
<ul id="todos">
 <header>
   <h2> Editing "<%= @list[:name]%>"</h2>
   <ul>
     <li>
       <form class = "delete" action="/lists/<%=params[:number]%>/destroy" method="post">
         <button type="submit" class="delete">Delete List</button>
       </form>
     </li>
   </ul>
 </header>

<form action = "/lists/<%= params[:number]%>" method = "post">
 <dl>
   <dt> 
     <label for="list_name"> Edit the name of the list:</label>
   </dt>
   <dd>
    <input name="list_name" placeholder="List Name" type="text" value="<%= params[:list_name] || @list[:name]%>">
   </dd>
 </dl>
   <fieldset class="actions">
     <input type="submit" name="Update">
     <a href="/lists/<%=params[:number]%>">Cancel</a>
   </fieldset>
</form>