<ul id="lists">
 <% sort_list(@lists) do |list, index| %>
   <li = class="<%=list_class(list)%>">
     <a>
       <p><%= remaining_todos_count(list)%> / <%= todos_count(list)%></p> 
       <a href="/lists/<%= list[:id]%>"><h2><%= list[:name] %></h2> </a>
     </a>
  </li>
 <% end %>
</ul>

<% content_for :header_links do %>
<a class ="add" href ="/lists/new">New Lists</a>
<% end %>